spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 20
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600
  refresh-token-expiration: 604800

cloud:
  aws:
    region:
      static: ${AWS_REGION}
    s3:
      bucket: ${S3_BUCKET}

frontend:
  origins: ${FRONT_END_URLS:http://localhost:5173}

sendgrid:
  api-key: ${SENDGRID_API_KEY}

app:
  mail:
    from-email: ${APP_MAIL_FROM:no-reply@uicircle.com}
    frontend-url: ${FRONTEND_URL:https://localhost:5173}
