spring:
  application:
    name: uic-marketplace

  config:
    import: optional:file:.env.properties

  profiles:
    active: local

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
